<div class="example-button-row">
    
</div>
<p *ngIf="!(posts$ | async)">loading list...</p>
<mat-accordion >
      <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{post.title}} ,Post number : {{post.num}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      {{post.body}} 
     <div> <button 
      mat-raised-button color="primary"
      (click)= delete(post.id)>
      Delete
   </button>
   <button 
   mat-raised-button color="primary"
   (click)= addlike(post.id,post.like)>
   like
</button>
     </div>
   <div *ngIf = "!(post.like == 0)" >Number of Likes: {{post.like}}</div>
   
    </mat-expansion-panel>
  
  </mat-accordion>

