<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}} 
          <br>
      
          Post number : {{post.id}} 
        </mat-panel-title>
      </mat-expansion-panel-header> 
      {{post.body}} 
      <div> <br><button 
      mat-raised-button color="primary"
      (click)= fun(post.id)>
      Save post
   </button> </div>
   <br>
   <div >{{ans}}</div>
    
      <br>
      <div *ngFor="let comm of comms$">
        <div *ngIf = "comm.postId == post.id">Comment: {{comm.body}}</div>
      </div>
      <br>
    </mat-expansion-panel>
  </mat-accordion>
